
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
    font-family: 'Libre Baskerville', serif;

}

html{
    height: 100%
}

body {

    background-color: #001F3F;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

svg{

    background-color: #FFA07A;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);

    border-radius: 5px;
    padding: 10px;
}

.bar{

    background-color: #3498db;
border-color: #3498db;
fill: #3498db;

}

.bar:hover{
    fill: #17252A
}

g{
    color: #17252A
}

#tooltip{
    margin-top: 10px;
    color: #FEFFFF;
    font-size: 28px;
}

#title{
    font-size: 34px;
    fill: #001F3F;
}

